services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    networks:
      - hammy
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
#      - db:/var/lib/postgresql/data
      # Initialize the database on first create
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432

  hammy:
    container_name: hammy
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - hammy
    restart: unless-stopped
    environment:
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN}
      LOG_LEVEL: ${LOG_LEVEL}
      LLM_URL: ${LLM_URL}
      DEZGO_TOKEN: ${DEZGO_TOKEN}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

networks:
  hammy:
    driver: bridge

volumes:
  db:
    driver: local