version: "3"
services:
  bot:
    build: .
    env_file: .env
    network_mode: host
  db:
    image: postgres
    restart: always
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - 5432:5432

volumes:
  db:
    driver: local
